.back
  position: absolute
  background-color #eeeeee
  width: 100%
  height:  100%

.container
  position: absolute
  width 400px
  height 300px
  top: 50%
  left: 50%
  margin-top: -300px
  margin-left: -200px 
  background-color: #ffffff
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  padding: 30px

.formContainer
  padding: 16px
  box-sizing: border-box

.myBtn
  background-color: #4CAF50
  color: white
  padding: 14px 20px
  border: none
  margin-top 5px
  cursor: pointer
  box-sizing: border-box
  text-align: center
  width: 100%

.myBtn:hover
  opacity: 0.9
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.myInput
  width: 100%;
  padding: 12px 20px
  display: inline-block
  border: 1px solid #ccc
  box-sizing: border-box

.avatarContainer
  text-align: center
  margin: 24px 0 12px 0
  box-sizing: border-box

.avatar
  width 40%
  border-radius 50%
  box-sizing: border-box
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)