.container
  text-align center

.myBtn
  margin 0px auto
  width 150px
  padding 12px
  box-sizing border-box
  border-radius 3px
  background-color #CCC 
  cursor pointer

.myInput
  width 150px
  margin-bottom 10px