.message
    font-size: larger
    padding-top: 7px

.messageContainer
    padding: 10px
    background: #ffffff
    text-align: left
    border-radius: 4px
    display: inline-block
    margin: 5px
    position: relative
    top -12px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.myMessageContainer
    padding: 10px
    background: powderblue
    text-align: left
    border-radius: 4px
    display: inline-block
    margin: 5px
    position: relative
    top -12px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)

.username
    font-size: small
    color: blue

.avatar
    width 70px
    display inline-block
    padding 5px
    border-radius 50%
    box-sizing border-box
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
.date
    display: inline-block
    font-size: smaller
    text-align: right
    padding: 5px
    background-color: gray
    color: #ffffff
    border-radius: 4px
    position: relative
    top: -5px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)