.avatar
    width 30%
    display inline-block
    padding 5px
    border-radius 50%
    box-sizing border-box

.textContainer
    width 70% 
    display: inline-block
.username
    width 70%
    box-sizing border-box
    font-size: large
    position: relative
    padding-left: 10px
    top: -30px
.date
    box-sizing: border-box
    font-size: x-small
    padding-left: 10px
    position: relative
    top: -15px

.line
    background-color #e1e1e1
    height 2px
    margin: 5px
    width 100%

.container
    background-color: #ffffff
    margin: 10px
    border-radius: 5px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)


.selectedContainer
    background-color: powderblue
    margin: 10px
    border-radius: 5px
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)